@keyframes MoveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    transform: translate(1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes MoveInRight {
  0% {
    transform: translate(10rem);
    opacity: 0;
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes MoveInBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}
